<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Management System </title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/clouds/100/000000/r.png">

  </head>
  <body style="background-color:rgba(105, 114, 117, 0.247);">
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Management System</a>
    </nav>
